@model Gist
@{
    var mo = Model ?? new Gist();
}

<div class="@QuoteTo.PanelClass1">
    <div class="row">
        <div class="col-12 d-none d-sm-inline-block">
            @if (Model != null)
            {
                ViewData["Title"] = "Editing " + mo.GistFilename;
                <p>Editing <a href="/gist/code/@mo.GistCode">@mo.GistFilename</a></p>
            }
            else
            {
                ViewData["Title"] = "Create a new Gist";
                <p class="text-center">Instantly share code, notes, and snippets.</p>
            }
        </div>
        <div class="col-auto mb-2">
            <button class="nrg-btn-save btn btn-warning">Save gist</button>
        </div>
        <div class="col-auto mb-2">
            <div class="input-group">
                <span class="input-group-text">Language</span>
                <select class="nrg-se-language form-select" placeholder="Choose a language" style="min-width:12em" data-value="@mo.GistLanguage"></select>
            </div>
        </div>
        <div class="col-md mb-2">
            <div class="input-group">
                <span class="input-group-text">FileName</span>
                <input class="nrg-txt-filename form-control" title="支持终端录屏 asciinema-player 语言选择 plaintext 文件名格式为 *.cast" placeholder="name.sh" value="@mo.GistFilename" maxlength="50" />
            </div>
        </div>
        <div class="col-md-auto mb-2">
            <a href="javascript:void(0)" data-bs-toggle="tooltip" data-bs-html="true" data-bs-title="支持终端录屏<br>asciinema-player,<br>语言选择 plaintext,<br>文件名格式为 *.cast">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16" />
                    <path d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0" />
                </svg>
            </a>
        </div>

        <div class="col-12 mb-2">
            <input class="nrg-txt-remark form-control" placeholder="description" maxlength="200" value="@mo.GistRemark" />
        </div>
        <div class="col-12">
            <div class="nrg-editor rounded"></div>
            <input type="hidden" class="nrg-hid-content" value="@(string.IsNullOrWhiteSpace(mo.GistContent)?"console.log(\"Hello world!\");":mo.GistContent)" />
            <input type="hidden" class="nrg-hid-code" value="@mo.GistCode" />
        </div>
    </div>
</div>