@model Gist
@{
    ViewData["Title"] = Model.GistRemark;

    bool IsMe = IdentityService.Get(ViewContext.HttpContext)?.UserId == Model.Uid;
}

<div class="@QuoteTo.PanelClass2">
    <div class="row">
        <div class="col">
            <div>
                <a class="me-2" href="/gist/user/@Model.Uid">@Model.Spare3</a>/
                <a class="ms-1 fw-bold" href="/gist/code/@Model.GistCode">@Model.GistFilename</a>
                <small class="ms-3 opacity-75 d-none d-sm-inline-block">@Model.GistCreateTime.Value.ToString("yyyy-MM-dd HH:mm")</small>
            </div>
            <div class="opacity-75 mt-2">
                <span>@Model.GistRemark</span>
            </div>
        </div>
        <div class='col-auto d-none d-sm-inline-flex align-items-end'>
            <div class="btn-group me-2 @(IsMe?"":"d-none")">
                <a class="btn btn-sm py-0 btn-outline-warning" href="/gist/edit/@Model.GistCode">Edit</a>
                <a class="btn btn-sm py-0 btn-outline-danger" href="/gist/delete/@Model.GistCode" onclick="return confirm('confirm delete?')">Delete</a>
            </div>
            <div class="btn-group">
                <a class="btn btn-sm py-0 btn-outline-secondary" href="/gist/raw/@Model.GistCode">Raw</a>
                <a class="btn btn-sm py-0 btn-outline-secondary" href="/gist/raw/@Model.GistCode/download">Download</a>
            </div>
        </div>
        <div class="col-12">
            @if (Model.GistLanguage == "shell" && Model.GistFilename.EndsWith(".cast"))
            {
                <hr />
                <div style="height:75vh">
                    <asciinema-player data-source="/gist/raw/@Model.GistCode/download"></asciinema-player>
                </div>
            }
            else if (Model.GistLanguage == "markdown")
            {
                <hr />
                <div class="markdown-body position-relative" data-language="@Model.GistLanguage"><pre class="p-3 fs-6 lh-base">@Model.GistContent</pre></div>
                <hr />
            }
            else
            {
                <div class="markdown-body position-relative mt-2">
                    <pre class="nrg-code-language p-3 fs-6 lh-base"><code data-language="@Model.GistLanguage">@Model.GistContent</code></pre>
                </div>
            }
        </div>
    </div>
</div>