@{
    Layout = null;
    var baseServer = "/file/kityminder";
}

<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="utf-8" />

    <title>Mind @Html.Raw(AppTo.GetValue("ProgramParameters:ChineseName"))</title>
</head>
<body>
    @Html.Raw(QuoteTo.Html("loading"))

    <div>
        <!--导出-->
        <div class="modal fade" role="dialog" id="ehModalExport">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">导出</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    </div>
                    <div class="modal-body" id="mbef"></div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                        <button type="button" class="btn btn-primary" id="btnExport">导出</button>
                    </div>
                </div>
            </div>
        </div>

        <!--导入-->
        <div class="modal fade" role="dialog" id="ehModalImport">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">导入</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    </div>
                    <div class="modal-body" id="mbim">
                        <label>选择文件（支持拖拽，格式：txt、md、json）</label>
                        <input class="form-control" type="file" id="fileImport" />
                        <hr />
                        <label>导入的内容</label>
                        <textarea class="form-control" id="txtImprot" rows="10" placeholder="导入的内容，可直接粘贴至此"></textarea>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                        <button type="button" class="btn btn-primary" id="btnImport">导入</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <kityminder-editor on-init="initEditor(editor, minder)"></kityminder-editor>

    @Html.Raw(QuoteTo.Html("bootstrap3.css"))
    <link rel="stylesheet" href="@QuoteTo.MirrorNPM("https://npmcdn.com/codemirror@5.65.2/lib/codemirror.css")" />
    <link rel="stylesheet" href="@QuoteTo.MirrorNPM("https://npmcdn.com/kityminder-core@1.4.50/dist/kityminder.core.css")" />

    <link rel="stylesheet" href="@baseServer/hotbox.css" asp-append-version="true" />
    <link rel="stylesheet" href="@baseServer/color-picker.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="@baseServer/kityminder.editor.min.css" asp-append-version="true" />

    @Html.Raw(QuoteTo.Html("jquery3.js,bootstrap3.js"))
    <script src="@QuoteTo.MirrorNPM("https://npmcdn.com/angular@1.8.2/angular.min.js")"></script>
    <script src="@QuoteTo.MirrorNPM("https://npmcdn.com/angular-bootstrap@0.12.2/ui-bootstrap-tpls.js")"></script>
    <script src="@QuoteTo.MirrorNPM("https://npmcdn.com/codemirror@5.65.2/lib/codemirror.js")"></script>
    <script src="@QuoteTo.MirrorNPM("https://npmcdn.com/codemirror@5.65.2/mode/xml/xml.js")"></script>
    <script src="@QuoteTo.MirrorNPM("https://npmcdn.com/codemirror@5.65.2/mode/javascript/javascript.js")"></script>
    <script src="@QuoteTo.MirrorNPM("https://npmcdn.com/codemirror@5.65.2/mode/css/css.js")"></script>
    <script src="@QuoteTo.MirrorNPM("https://npmcdn.com/codemirror@5.65.2/mode/htmlmixed/htmlmixed.js")"></script>
    <script src="@QuoteTo.MirrorNPM("https://npmcdn.com/codemirror@5.65.2/mode/markdown/markdown.js")"></script>
    <script src="@QuoteTo.MirrorNPM("https://npmcdn.com/codemirror@5.65.2/addon/mode/overlay.js")"></script>
    <script src="@QuoteTo.MirrorNPM("https://npmcdn.com/codemirror@5.65.2/mode/gfm/gfm.js")"></script>
    <script src="@QuoteTo.MirrorNPM("https://npmcdn.com/angular-ui-codemirror@0.3.0/src/ui-codemirror.js")"></script>
    <script src="@QuoteTo.MirrorNPM("https://npmcdn.com/marked@3.0.8/lib/marked.js")"></script>
    <script src="@QuoteTo.MirrorNPM("https://npmcdn.com/kity@2.0.4/dist/kity.min.js")"></script>
    <script src="@QuoteTo.MirrorNPM("https://npmcdn.com/kityminder-core@1.4.50/dist/kityminder.core.min.js")"></script>

    <script src="@baseServer/hotbox.min.js" asp-append-version="true"></script>
    <script src="@baseServer/json-diff.js" asp-append-version="true"></script>
    <script src="@baseServer/color-picker.min.js" asp-append-version="true"></script>
    <script src="@baseServer/kityminder.editor.min.js" asp-append-version="true"></script>

    <script src="/file/ss-mind.js" asp-append-version="true"></script>
</body>
</html>