@model Run
@{
    var mo = Model ?? new Run();

    bool IsLogin = Context.User.Identity.IsAuthenticated;
    bool IsMe = IsLogin && IdentityService.Get(Context)?.UserId == mo.Uid;
}

@if (Model != null)
{
    ViewData["Title"] = "Editing " + mo.RunRemark;
}
else
{
    ViewData["Title"] = "Run";
    mo.RunContent1 = string.Join("\n", new List<string> {
        "<!DOCTYPE html>",
        "<html>",
        "",
        "<head>",
        "    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\" />",
        "    <meta charset=\"utf-8\" />",
        "    <title>Run</title>",
        "</head>",
        "",
        "<body>",
        "",
        "</body>",
        "",
        "</html>"
    });
}
<input type="hidden" class="nrg-hid-code" value="@mo.RunCode" />

<div class="container-fluid mt-2">
    <div class="row">
        <div class="col-auto mb-2">
            <button class="nrg-btn-run btn btn-sm btn-outline-success">Run</button>
            <button class="nrg-btn-save btn btn-sm btn-outline-info @(IsLogin?"":"d-none")">Save</button>
            <a class="nrg-btn-delete btn btn-sm btn-outline-danger @(IsMe?"":"d-none")" href="/run/delete/@mo.RunCode" onclick="return confirm('Confirm to delete?')">delete</a>
            <a class="btn btn-sm btn-outline-info @(IsMe?"":"d-none")" href="/run/code/@mo.RunCode">View</a>
        </div>
        <div class="col-auto d-none d-sm-inline-block mb-2">
            <input class="nrg-txt-description form-control form-control-sm" placeholder="Description" value="@mo.RunRemark" maxlength="150" />
        </div>
        <div class="col-auto d-none d-sm-inline-block mb-2">
            <div class="dropdown">
                <button type="button" class="nrg-btn-library btn btn-sm btn-outline-secondary dropdown-toggle" data-bs-toggle="dropdown" data-bs-auto-close="outside">Library</button>
                <div class="dropdown-menu p-1">
                    <div class="input-group input-group-sm mb-2">
                        <span class="input-group-text">搜索</span>
                        <input class="nrg-txt-search-library form-control" placeholder="search npm" />
                        <div class="form-check user-select-none mx-3 mt-1" title="勾选则使用镜像源链接">
                            <input class="form-check-input" type="checkbox" id="ck_npm_mirror" checked>
                            <label class="form-check-label" for="ck_npm_mirror">Mirror</label>
                        </div>
                    </div>

                    <div class="nrg-list-library list-group overflow-auto" style="max-height:70vh;width:25em">
                        <button type="button" class="list-group-item list-group-item-action px-2 py-1">jquery</button>
                        <button type="button" class="list-group-item list-group-item-action px-2 py-1">jquery@3.6.3</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="nrg-card0 nrc-split-vertical border-top invisible" style="--nrc-divider-color:var(--bs-border-color)">
    <div class="nrg-card1 nrc-split-horizontal">
        <div class="nrg-card2 nrc-split-horizontal">
            <pre class="nrg-pre-html m-0 nrg-pre-code-edit" data-language="html">@(string.IsNullOrWhiteSpace(mo.RunContent1) ? "" : mo.RunContent1)</pre>
            <div class="nrc-split-divider"></div>
            <pre class="nrg-pre-css m-0 nrg-pre-code-edit" data-language="css">@(string.IsNullOrWhiteSpace(mo.RunContent3) ? "" : mo.RunContent3)</pre>
        </div>
        <div class="nrc-split-divider"></div>
        <pre class="nrg-pre-js m-0 nrg-pre-code-edit" data-language="javascript">@(string.IsNullOrWhiteSpace(mo.RunContent2) ? "" : mo.RunContent2)</pre>
    </div>
    <div class="nrc-split-divider"></div>
    <div class="nrg-preview"></div>
</div>