@model UserInfo
@{
    ViewData["Title"] = "个人设置";
}

<div class="@QuoteTo.PanelClass2">
    <div class="row">
        <div class="col-xl-5 mb-4">
            <form class="nrg-form-info card">
                <div class="card-header">个人信息</div>
                <div class="card-body">
                    <div class="input-group">
                        <span class="input-group-text">账号</span>
                        <input class="form-control" name="UserName" required value="@Model.UserName" maxlength="50" @(Model.UserNameChange == 1 ? "readonly" : "") />
                    </div>
                    <div class="form-text mb-3">@(Model.UserNameChange == 1 ? "不能修改" : "可修改一次")</div>

                    <div class="input-group mb-3">
                        <span class="input-group-text">昵称</span>
                        <input class="form-control" name="Nickname" required value="@Model.Nickname" maxlength="50" />
                    </div>
                    <div class="input-group">
                        <span class="input-group-text">邮箱</span>
                        <input class="form-control" type="email" name="UserMail" required value="@Model.UserMail" maxlength="50" />
                    </div>
                    <div class="form-text mb-3">
                        <span class="me-3">更改邮箱需要重新验证</span>

                        @if (Model.UserMailValid == 1)
                        {
                            <span class="badge bg-success">已验证</span>
                        }
                        else if (!string.IsNullOrWhiteSpace(Model.UserMail))
                        {
                            <span class="badge bg-secondary">未验证</span>
                            <a href="/user/verify/send">立即发送验证邮件</a>
                        }
                    </div>

                    <div class="input-group mb-3">
                        <span class="input-group-text">手机</span>
                        <input class="form-control" name="UserPhone" required value="@Model.UserPhone" maxlength="20" />
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text">网址</span>
                        <input class="form-control" type="url" name="UserUrl" required value="@Model.UserUrl" maxlength="100" />
                    </div>

                    <button class="nrg-btn-save-info btn btn-warning">提交</button>
                </div>
            </form>
        </div>

        <div class="col-xl-4 col-lg-6 mb-4 px-xl-4">
            <form class="nrg-form-pwd card">
                <div class="card-header">更改密码</div>
                <div class="card-body">
                    <div class="mb-3">
                        <label class="form-label">当前密码</label>
                        <input class="form-control" type="password" name="oldPassword" maxlength="20" placeholder="******" required />
                    </div>
                    <div class="mb-3">
                        <label class="form-label">新的密码，至少 5 位数</label>
                        <input class="form-control" type="password" name="newPassword" maxlength="20" placeholder="******" required />
                    </div>
                    <div class="mb-3">
                        <label class="form-label">确认新的密码</label>
                        <input class="form-control" type="password" name="newPassword2" maxlength="20" placeholder="******" required />
                    </div>
                    <button class="nrg-btn-save-pwd btn btn-warning">提交</button>
                </div>
            </form>
        </div>

        <div class="col-xl-3 col-lg-6 mb-4">
            <div class="card">
                <div class="card-header">授权关联</div>
                <ul class="list-group list-group-flush">
                    @foreach (var key in ThirdLoginService.OpenIdMap.Keys)
                    {
                        var loginType = key.ToString().ToLower();
                        var loginIcon = CommonService.StaticResourceLink("LoginPath", $"{loginType}.svg");
                        var field = ThirdLoginService.OpenIdMap[key];
                        var isBind = !string.IsNullOrWhiteSpace(Model.GetType().GetProperty(field).GetValue(Model)?.ToString());

                        <li class="list-group-item">
                            <span class="me-2">
                                <img src="@loginIcon" style="height:1.3em" />&nbsp;@key
                            </span>
                            @if (isBind)
                            {
                                <span class="badge bg-success">已绑定</span>
                                <a href="/user/ridoauth/@loginType">解除</a>
                            }
                            else
                            {
                                <a href="/user/oauth/@loginType">绑定账号</a>
                            }
                        </li>
                    }
                </ul>
            </div>
        </div>
    </div>
</div>
