@{
    var theme = ViewContext.HttpContext.Request.Cookies[".theme"];
    theme = theme == "dark" ? "dark" : "light";

    var rdv = ViewContext.RouteData.Values;
    var ctrl = rdv["controller"].ToString().ToLower();
    var actionName = rdv["action"].ToString().ToLower();
    var ca = ctrl + "/" + actionName;

    var canav = "account/,mix/terms".Split(',');
    var cafooter = "account/,admin/,home/completeinfo,home/write,storage/,ss/,user/write,user/message,user/verify,user/setting,mix/terms,note/,run/index,run/code,run/edit,gist/index,gist/code,gist/edit,draw/index,draw/code,draw/edit,doc/index,doc/edit,doc/item,doc/catalog,guff/code,guff/index".Split(',');

    var grayStyle = string.Empty;
    if (ctrl == "ss")
    {
        var navs = ScriptService.NavArray;
        var item = ScriptService.Find(actionName);
        if (item != null)
        {
            ViewData["Title"] = $"{item.GetValue("title")}";
        }
    }
    else
    {
        grayStyle = DateTime.Now.ToString("MM-dd") == "04-05" ? "style=\"filter:grayscale(100%)\"" : "";
    }
}
@Html.Raw(QuoteTo.Html("the"))
<!DOCTYPE html>
<html lang="zh-cn" data-bs-theme='@theme' class="netnrmd-@theme" @Html.Raw(grayStyle)>
<head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    @if (ctrl == "run")
    {
        <meta name='keywords' content='NET牛人,Netnr,Run,在线javascript代码编辑器,js代码在线测试调试,js在线运行工具,html,css,jquery,runjs类似,jsrun类似,jsfiddle国内类似' />
        <meta name='description' content='NET牛人,Netnr,在线编写、展示html、js、css代码，拥有实时预览、分享、代码高亮、自动完成等多项特性' />
    }
    else if (ctrl == "guff")
    {
        <meta name="referrer" content="never">
        <meta name='keywords' content='NET牛人,Netnr,Guff,尬服,尬服乐天地' />
        <meta name='description' content='NET牛人,Netnr,Guff,尬服,尬服乐天地' />
    }
    else if (ctrl == "ss")
    {
        var navs = ScriptService.NavArray;
        var item = ScriptService.Find(actionName);
        if (item != null)
        {
            var title = item.GetValue("title");
            var remark = item.GetValue("remark") ?? title;
            ViewData["Title"] = title;

            <meta name='keywords' content='NET牛人,Netnr,@Html.Raw(title)' />
            <meta name='description' content='NET牛人,Netnr,脚本服务,Script Services,工具箱,@Html.Raw(remark)' />
        }
        else
        {
            ViewData["Title"] = "脚本服务";

            <meta name='keywords' content='NET牛人,Netnr,脚本服务' />
            <meta name='description' content='NET牛人,Netnr,脚本服务,Script Services,工具箱' />
        }

        <!--静态页面主题响应-->
        <script>
            if (document.cookie.includes(".theme=dark")) {
                let domHtml = document.documentElement;
                domHtml.dataset.bsTheme = "dark";
                domHtml.className = domHtml.className.replace('light', 'dark');
            }
        </script>
    }
    else
    {
        <meta name='keywords' content='NET牛人,Netnr,Gist,Run,Doc,Draw' />
        <meta name='description' content='NET牛人,Netnr,Gist,Run,Doc,Draw' />
    }

    <title>@ViewData["Title"] @Html.Raw(AppTo.GetValue("Common:ChineseName"))</title>

    @Html.Raw(QuoteTo.Html($"favicon,bootstrap5.css,bootstrap5.js"))

    <link href='/dist/main.css' rel='stylesheet' asp-append-version="true" />
    <script src="/dist/main.js" async asp-append-version="true"></script>

    @*<link href='http://localhost:775/main.css' rel='stylesheet' asp-append-version="true" />
    <script src="http://localhost:775/main.js" async asp-append-version="true"></script>*@
</head>
<body>

    @if (!canav.Any(x => ca.StartsWith(x)))
    {
        if (AppTo.GetValue<bool>("ReadOnly"))
        {
            var myDomain = AppTo.GetValue("Common:Domain");

            <div class="p-2 text-center">Mirror site is read only <a href="@myDomain">@(new Uri(myDomain).Host)</a></div>
        }
        <partial name="_PartialNav" />
    }

    @RenderBody()

    @if (!cafooter.Any(x => ca.StartsWith(x)))
    {
        <partial name="_PartialFooter" />
    }

</body>
</html>