@{
    var adminGitHub = AppTo.GetValue("Common:AdminGitHub");
    var mirror = AppTo.GetValue("Common:Mirror");
    var links = AppTo.GetValue("Common:Links").Split(',');
}
<hr />

<div class="@QuoteTo.PanelClass2">
    <div class="row">
        <div class="col-12">
            <h5>链接</h5>
        </div>
        <div class="col-lg-6 mb-3">
            <a class="me-3 lh-lg" href="https://github.com/@adminGitHub">GitHub</a>
            @foreach (var item in links)
            {
                var list = item.Split(' ');
                if (list.Length == 2)
                {
                    <a class="me-3 lh-lg" href="@list.First()">@list.Last()</a>
                }
            }
            <a class="me-3 lh-lg" target="_blank" href="/swagger">API</a>
        </div>
        <div class="col-lg-6 mb-3">
            @{
                var fd = System.Runtime.InteropServices.RuntimeInformation.FrameworkDescription;
                var osName = SystemStatusTo.GetOSType();
            }
            <a class="me-3 lh-lg" href="https://dot.net">Powered by @fd ❤ @osName</a>
            <a class="me-3 lh-lg" href="/mix/about">About</a>
            <a class="me-3 lh-lg" href="/mix/faq">FAQ</a>
            <a class="me-3 lh-lg" href="/mix/terms">Terms</a>
            <a class="me-3 lh-lg" href="@mirror" title="不定时备份到镜像只读站点">Mirror</a>
            <span>&copy; @AppTo.GetValue("Common:EnglishName") @DateTime.Now.Year</span>
        </div>
    </div>
</div>
