@model PageVM

<div class="container-fluid">

    @if (Model.Other != null)
    {
        <!--列表-->
        <div class="row mt-2">
            <div class="col-12">
                <sl-button size="small" href="/user/write" outline variant="primary">我的文章</sl-button>
                @switch (Model.Other?.ToString().ToLower())
                {
                    case "laud":
                        ViewData["title"] = "我的点赞";
                        <sl-button size="small" variant="primary">我的点赞 @Model.Pag.Total</sl-button>
                        <sl-button size="small" href="/user/write/mark" outline variant="primary">我的收藏</sl-button>
                        break;
                    case "mark":
                        ViewData["title"] = "我的收藏";
                        <sl-button size="small" href="/user/write/laud" outline variant="primary">我的点赞</sl-button>
                        <sl-button size="small" variant="primary">我的收藏 @Model.Pag.Total</sl-button>
                        break;
                }
            </div>
            <partial name="_PartialWritingItem" model="Model.Rows" />
        </div>

        <!--分页-->
        <div class="row">
            <partial name="_PartialPaging" />
        </div>
    }
    else
    {
        <div class="row mt-4">
            <!--标签分类-->
            @if (Model.Temp != null)
            {
                var tagObj = Model.Temp.ToJson().DeJson();

                <div class="col-12 px-4 small">
                    <partial name="_PartialTag" model="@tagObj.GetValue("tag")" />
                    <span class="opacity-75">@tagObj.GetValue("baike_abstract")</span>
                    <a class="text-nowrap" href="@tagObj.GetValue("baike_url")" target="_blank">[More]</a>
                </div>
            }
            else
            {
                <partial name="_PartialTagStats" />
            }
        </div>

        <!--列表-->
        <div class="row my-4">
            <partial name="_PartialWritingItem" model="Model.Rows" />
        </div>

        <!--分页-->
        <div class="row">
            <partial name="_PartialPaging" />
        </div>
    }
</div>