@model List<UserWriting>

@if (Model.Count == 0)
{
    <h1 class="text-center my-5 py-5" title="å’£">ðŸ˜­</h1>
}
else
{
    foreach (var mo in Model)
    {
        <div class="col-md-6 col-lg-4 my-4 px-4">

            @if (mo.UwLaud > 0)
            {
                <span class="me-2" title="ç‚¹èµž"><sl-icon name="hand-thumbs-up"></sl-icon> @mo.UwLaud</span>
            }

            <a class="text-break" href="/home/list/@mo.UwId">@mo.UwTitle</a>
            <partial name="_PartialTag" model="mo.Spare1" />

            <div class="mt-1 opacity-75">
                <a class="me-2 small" href='/user/id/@mo.Uid'>@mo.Spare3</a>
                <small class="me-2 d-none d-sm-inline-block" title="åˆ›å»ºäºŽ">@VisualFormatService.Duration(mo.UwCreateTime.Value)</small>
                <small class="me-2" title="é˜…è¯»é‡"><sl-icon class="align-middle" name="eye"></sl-icon> @VisualFormatService.Count(mo.UwReadNum.Value)</small>
                <small class="me-2" title="å›žå¤æ•°"><sl-icon class="align-middle" name="reply"></sl-icon> @mo.UwReplyNum.Value</small>
            </div>
        </div>
    }
}