@model PageVM
@{
    var Pag = Model.Pag;
}

@if (Pag.PageTotal > 1)
{
    <ul class="pagination justify-content-center my-3">
        @if (Pag.PageNumber > 2)
        {
            <li class="page-item"><a class="page-link" href="@Model.Page(1)">1</a></li>
        }

        @if (Pag.PageNumber - 1 > 0)
        {
            <li class="page-item"><a class="page-link" href="@Model.Page(Pag.PageNumber - 1)">@(Pag.PageNumber - 1)</a></li>
        }

        <li class="page-item active"><span class="page-link">@Pag.PageNumber</span></li>

        @if (Pag.PageNumber + 1 <= Pag.PageTotal)
        {
            <li class="page-item"><a class="page-link" href="@Model.Page(Pag.PageNumber + 1)">@(Pag.PageNumber + 1)</a></li>
        }

        @if (Pag.PageNumber + 1 < Pag.PageTotal)
        {
            <li class="page-item"><a class="page-link" href="@Model.Page(Pag.PageTotal)">@Pag.PageTotal</a></li>
        }
    </ul>
}
