@model PageVM
@{
    var rows = Model.Rows as List<Draw>;
    var uinfo = IdentityService.Get(Context);

    var nickname = ViewData["Nickname"]?.ToString() ?? "Discover";
    ViewData["Title"] = $"{nickname} draws";
}

@if (rows.Count == 0)
{
    <div class="text-center my-5 py-5">
        <h4>咣</h4>
        <a href="/draw">Add draw</a>
    </div>
}
else
{
    <div class="@QuoteTo.PanelClass2">
        <div class="row">
            <div class="col-12 mb-3 fs-5">
                <span class="me-3"><b>@Model.Pag.Total.ToString("N0")</b> draws results</span>
                <a href="/draw">Add draw</a>
            </div>

            @foreach (var item in rows)
            {
                <div class="col-lg-6 col-xxl-4 my-4">
                    @if (uinfo?.UserId == item.Uid)
                    {
                        if (item.DrOpen != 1)
                        {
                            <span title="私有">🔒</span>
                        }
                        if (item.DrOpen != 1 && !string.IsNullOrWhiteSpace(item.Spare1))
                        {
                            <a class="mx-1 text-decoration-none" href="/draw/code/@(item.DrId+"?code="+item.Spare1)" title="分享码查看链接">
                                👀
                            </a>
                        }
                    }
                    <a class="text-break fs-5" href="/draw/code/@item.DrId" target="_blank">@item.DrName</a>
                    @if (item.Uid == uinfo?.UserId)
                    {
                        <a class="text-decoration-none" href="/draw/edit/@item.DrId" title="edit">
                            📝
                        </a>
                        <a class="text-decoration-none" href="/draw/delete/@item.DrId" title="delete" onclick="return confirm('confirm delete?')">
                            ✖
                        </a>
                    }
                    <p class="mt-1">@(string.IsNullOrWhiteSpace(item.DrRemark) ? "暂无备注" : item.DrRemark)</p>
                    <div>
                        @switch (item.DrType)
                        {
                            case "mind":
                                <span class="badge text-bg-primary" title="脑图">Mind</span>
                                break;
                            case "bpmn":
                                <span class="badge text-bg-success" title="绘图">BPMN</span>
                                break;
                            default:
                                <span class="badge text-bg-success" title="绘图">Graph</span>
                                break;
                        }
                        <a class="mx-2 small" href="/draw/user/@item.Uid">@item.Spare3</a>
                        <small class="opacity-75">@item.DrCreateTime.Value.ToString("yyyy-MM-dd HH:mm")</small>
                    </div>
                </div>
            }

            <div class="col-12">
                <partial name="_PartialPaging" model="Model" />
            </div>
        </div>
    </div>
}