@model PageVM
@{
    var rows = Model.Rows as List<GuffRecord>;

    var nickname = ViewData["Nickname"]?.ToString() ?? "Discover";
    ViewData["Title"] = $"{nickname} guffs";

    var actionName = ViewContext.RouteData.Values["action"].ToString().ToLower();
    var path = $"/guff/{actionName}" + (actionName == "user" ? "/" + ViewContext.RouteData.Values["id"].ToString() : "");
}
<div class="@QuoteTo.PanelClass2">
    <div class="row">
        <div class="col-12 mb-4 fs-5">
            <a class="me-3" href="@path">全部</a>
            <a class="me-3" href="@path/image">图片</a>
            <a class="me-3" href="@path/audio">声音</a>
            <a class="me-3" href="@path/video">视频</a>
            <a class="me-3" href="@path/top">热门</a>
        </div>

        @if (rows.Count == 0)
        {
            <div class="text-center my-5 py-5">
                <h4>咣</h4>
                <a href="/guff">Add guff</a>
            </div>
        }
        else
        {
            <div class="col-12 mb-3 fs-5">
                <span class="me-3"><b>@Model.Pag.Total.ToString("N0")</b> guffs results</span>
                <a href="/guff">Add guff</a>
            </div>

            @foreach (var item in rows)
            {
                <div class="col-12">
                    <hr class="mb-4" />
                    @if (!string.IsNullOrWhiteSpace(item.GrContent))
                    {
                        <div class="mb-3 fs-5">@item.GrContent</div>
                    }
                    @if (!string.IsNullOrWhiteSpace(item.GrImage))
                    {
                        var urls = item.GrImage.Split(',').ToList();
                        foreach (var url in urls)
                        {
                            <div class="mb-3">
                                <img class="mw-100 rounded" src="@url" />
                            </div>
                        }
                    }
                    @if (!string.IsNullOrWhiteSpace(item.GrAudio))
                    {
                        var urls = item.GrAudio.Split(',').ToList();
                        foreach (var url in urls)
                        {
                            <div class="mb-3">
                                <audio class="mw-100 rounded" controls src="@url"></audio>
                            </div>
                        }
                    }
                    @if (!string.IsNullOrWhiteSpace(item.GrVideo))
                    {
                        var urls = item.GrVideo.Split(',').ToList();
                        foreach (var url in urls)
                        {
                            <div class="mb-3">
                                <video class="mw-100 rounded" controls src="@url"></video>
                            </div>
                        }
                    }
                    @if (!string.IsNullOrWhiteSpace(item.GrRemark))
                    {
                        <div class="mb-3 fs-5">@item.GrRemark</div>
                    }

                    <div class="small">
                        <a href="" class="me-2 text-nowrap lh-lg d-none" title='@(item.Spare1 == "laud" ? "取消点赞" : "点赞")'>
                            👍@item.GrLaud
                        </a>
                        <a href="" class="me-2 text-nowrap lh-lg d-none" title="回复数">
                            💬@item.GrReplyNum.Value
                        </a>
                        <a href="/guff/user/@item.Uid" class="me-2 text-nowrap lh-lg">@item.Spare3</a>
                        <small class="me-2 d-none d-sm-inline-block opacity-75" title="创建于">@VisualFormatService.Duration(item.GrCreateTime.Value)</small>

                        @if (!string.IsNullOrWhiteSpace(item.GrTypeName) && !string.IsNullOrWhiteSpace(item.GrTypeValue))
                        {
                            <!--分类-->
                            <a class="me-2 text-nowrap lh-lg text-decoration-none opacity-75" title="分类名/分类值">
                                🔖@(item.GrTypeName + '/' + item.GrTypeValue)
                            </a>
                        }

                        @if (!string.IsNullOrWhiteSpace(item.GrObject))
                        {
                            <!--对象-->
                            <a class="me-2 text-nowrap lh-lg text-decoration-none opacity-75" title="对象">
                                😀@item.GrObject
                            </a>
                        }

                        @if (!string.IsNullOrWhiteSpace(item.GrTag))
                        {
                            var tags = item.GrTag.Split(',');
                            foreach (var tag in tags)
                            {
                                <!--标签-->
                                <a class="me-2 text-nowrap lh-lg text-decoration-none opacity-75" title="标签">
                                    🏷@tag
                                </a>
                            }
                        }

                        <!--查看-->
                        <a href="/guff/code/@item.GrId" class="lh-lg text-decoration-none me-2" title="查看这一条">
                            👁
                        </a>
                        @if (item.Spare2 == "owner")
                        {
                            <!--编辑、删除-->
                            <a href="/guff/code/@item.GrId/edit" class="me-2 lh-lg text-decoration-none" title="编辑">
                                📝
                            </a>
                            <a href="/guff/code/@item.GrId/delete" class="me-2 lh-lg text-decoration-none" title="删除" onclick="return confirm('confirm delete?')">
                                ✖
                            </a>
                        }
                    </div>
                </div>
            }

            <div class="col-12">
                <partial name="_PartialPaging" model="Model" />
            </div>
        }
    </div>
</div>