@model GuffRecord
@{
    ViewData["Title"] = Model == null ? "Add guff" : "Editing guff";
    var mo = Model == null ? new GuffRecord() : Model;
}

<form method="post" action="/guff/save">
    <div class="@QuoteTo.PanelClass2">
        <div class="row">
            <div class="col-12">
                <span class="fs-4">@ViewData["Title"]</span>
                <hr />
            </div>
            <div class="col-12 mb-3">
                <textarea class="form-control" name="GrContent" placeholder="写点什么呢...">@mo.GrContent</textarea>
            </div>
            <div class="col-md-4 mb-3">
                <input class="form-control" placeholder="图片链接 多个逗号分隔" name="GrImage" value="@mo.GrImage" />
            </div>
            <div class="col-md-4 mb-3">
                <input class="form-control" placeholder="音频链接 多个逗号分隔" name="GrAudio" value="@mo.GrAudio" />
            </div>
            <div class="col-md-4 mb-3">
                <input class="form-control" placeholder="视频链接 多个逗号分隔" name="GrVideo" value="@mo.GrVideo" />
            </div>
            <div class="col-12 mb-3">
                <input class="form-control" placeholder="结束语 或 神回复" name="GrRemark" value="@mo.GrRemark" />
            </div>
            <div class="col-md-4 mb-3">
                <input class="form-control" placeholder="分类（如：电影）" name="GrTypeName" value="@mo.GrTypeName" />
            </div>
            <div class="col-md-4 mb-3">
                <input class="form-control" placeholder="值（如：功夫）" name="GrTypeValue" value="@mo.GrTypeValue" />
            </div>
            <div class="col-md-4 mb-3">
                <input class="form-control" placeholder="对象（如：周星驰）" name="GrObject" value="@mo.GrObject" />
            </div>
            <div class="col-12 mb-3">
                <input class="form-control" placeholder="标签 如：心灵鸡汤,优秀" name="GrTag" value="@mo.GrTag" required />
            </div>
            <div class="col-12">
                <input type="hidden" name="GrId" value="@mo.GrId" />
                <button class="btn btn-warning" type="submit">Save guff</button>
            </div>
        </div>
    </div>
</form>