@model DocSetDetail
@{
    ViewData["Title"] = AppTo.GetValue("ProgramParameters:EnglishName") + " Doc";
}

<div class="@QuoteTo.PanelClass1">
    <div class="row">
        <div class="col-lg-5 mb-2">
            <div class="input-group">
                <span class="input-group-text">标题</span>
                <input class="nrg-txt-title form-control" name="DsdTitle" value="@Model.DsdTitle">
            </div>
        </div>
        <div class="col-lg-4 mb-2">
            <div class="input-group">
                <span class="input-group-text">目录</span>
                <select class="nrg-se-pid form-select" placeholder="父级目录" name="DsdPid" data-value="@Model.DsdPid"></select>
            </div>
        </div>
        <div class="col-lg-3 mb-2">
            <div class="input-group">
                <span class="input-group-text">序号</span>
                <input type="number" class="nrg-txt-order form-control" name="DsdOrder" value="@Model.DsdOrder">
            </div>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-auto mb-2">
            <input type="hidden" class="nrg-hid-code" name="DsCode" value="@Model.DsCode" />
            <input type="hidden" class="nrg-hid-id" name="DsdId" value="@Model.DsdId" />

            <button class="nrg-btn-save btn btn-warning">保存</button>
            <a class="btn btn-secondary" href="/doc/code/@(Model.DsCode+"/"+Model.DsdId)">返回</a>
        </div>
        <div class="col-auto mb-2">
            <div class="dropdown">
                <button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown">
                    插入
                </button>
                <ul class="dropdown-menu">
                    <li><button class="dropdown-item" data-action="template-api">API 接口模版</button></li>
                    <li><button class="dropdown-item" data-action="template-dic">数据字典模版</button></li>
                </ul>
            </div>
        </div>
        <div class="col-12">
            <div class="nrg-editor" data-value="@Model.DsdContentMd">Loading</div>
        </div>
    </div>
</div>