@model ResultVM
@{
    ViewData["Title"] = "登录";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-12 text-center">
            <div class="my-5">
                <a href="/"><img src="/favicon.svg" alt="@AppTo.GetValue("Common:EnglishName")" /></a>
            </div>
            <h4 class="my-3">Sign in to @AppTo.GetValue("Common:EnglishName")</h4>
        </div>
        <div class="col-12">
            <div class="border rounded mx-auto p-4" style="max-width:20em">
                <form action="/account/login" method="post">
                    @Html.AntiForgeryToken()
                    <input type="hidden" name="remember" value="1" />

                    @if (!string.IsNullOrWhiteSpace(Model?.Msg))
                    {
                        <div class="alert alert-warning mb-3">@Model?.Msg</div>
                    }

                    <input class="form-control mb-4" type="text" required name="UserName" maxlength="50" placeholder="netnr@@netnr.com" autofocus autocomplete="off" />
                    <input class="form-control mb-4" type="password" required name="UserPwd" maxlength="20" placeholder="******" autocomplete="off" />

                    <button class="btn btn-warning w-100" type="submit">Sign in</button>
                </form>

                @if (AppTo.GetValue<bool>("OAuthLogin:enable"))
                {
                    <div class="pagination justify-content-center mt-3">
                        @foreach (var key in ThirdLoginService.OpenIdMap.Keys)
                        {
                            var loginType = key.ToString().ToLower();
                            var loginIcon = CommonService.StaticResourceLink("LoginPath", $"{loginType}.svg");

                            <a class="m-2" href="/account/auth/@loginType">
                                <img src="@loginIcon" style="height:1.8em" title="@key" />
                            </a>
                        }
                    </div>
                }
            </div>

            <div class="mt-4 text-center pt-4">
                <a class="mx-2" href="/mix/terms">Terms</a>
                <a class="mx-2" href="https://zme.ink">Contact</a>
                |
                <a class="mx-2" href="/">Home</a>
                <a class="mx-2" href="/account/register">Sign up</a>
            </div>
        </div>
    </div>
</div>